<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>客戶列表</title>
	<script>
		function Delete(customerId) {
			if(confirm('是否要刪除?')) {
				window.location.href = 'customer/test/' + customerId;	
			}
		}
		
	</script>
</head>
<body>
<a th:href="@{/toAdd}">增加一個新客戶</a><br>
<table>
	<tr>
		<th>id</th>
		<th>name</th>
		<th>email</th>
		<th>action</th>
	</tr>
	<tr th:each="customer : ${customerList}">
		<td th:text="${customer.id}"></td>
		<td th:text="${customer.name}"></td>
		<td th:text="${customer.email}"></td>
		<td><a th:href="@{|/customer/${customer.id}|}">update</a>|<a href="#" th:onclick="|Delete(${customer.id})|">delete</a></td>
	</tr>
</table>


</body>
</html>